	h1{color:brown;}
	body{background-color: rgb(219, 241, 195);margin-left : 30px;
	margin-right : 30px;}
	span{color: greenyellow;font-size: 20px;}
	.word{color: aqua;}
	#color{color: teal;}
	div>strong{background-color: beige;}
	ul strong{color: blueviolet;}
	a:visited{color: black;}
	h3:hover{background: yellowgreen;}
	h1{text-align: center;}
	h3{text-align: center;}
	h3{font-family:'Times New Roman', Times, serif; font-size: large;}
	input{color: black;
		float: right;
		}
	button{color: black;
		width: 50px;
		height: 80%;
		border: 0px;
		outline: none;
		float: right;
		}

	a{float: right;}
	